

*, *::before, *::after {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

div.scroll-indicator {
  position: fixed;
  top: 0;
  left: 0;

  height: 5px;
  background: linear-gradient(90deg, red, rgb(142, 43, 142), blue);
  width: 0;
  transform: scale(0 1);
  animation: scroll-progress linear;
  animation-timeline: scroll();
  z-index: 100;
}

@keyframes scroll-progress {
  100% {
    width: 100%;
  }
}

div.container {
  padding: 3rem 1.5rem;
}